@keyframes ldio-rcwgefh80m {
  0% {
    top: 76px;
    left: 76px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 116px;
    height: 116px;
    opacity: 0;
  }
}

.ldio-rcwgefh80m div {
  padding-top: 30%;
  position: absolute;
  border-width: 20px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-rcwgefh80m 1s cubic-bezier(0, 0.5, 0.8, 1) infinite;
}
.ldio-rcwgefh80m div:nth-child(1) {
  border-color: #21ff0b;
  animation-delay: 0s;
}
div:nth-child(2) {
  border-color: #b5ff3e;
  animation-delay: -0.5s;
}
div:nth-child(3) {
  border-color: #a9ff6f;
  animation-delay: -1s;
}
div:nth-child(4) {
  border-color: #58fa49;
  animation-delay: -1.5s;
}
.loadingio-spinner-ripple-qwdxkwcl0ho {
  padding-top: 10%;
  width: 200px;
  height: 400px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-rcwgefh80m {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rcwgefh80m div {
  box-sizing: content-box;
}
